--------------------------------------------------------------------------------

Welcome to  {{{vars.sys.fqhost}}}

This system is intended for lab use only.
Unauthorized access is prohibited.
Violators will by vaporized... seriously.

Administrator:  {{{vars.training_motd_mustache.admin}}}
Phone:          {{#vars.training_motd_mustache.phone}}{{.}} {{/vars.training_motd_mustache.phone}}
Email:          {{{vars.training_motd_mustache.email}}}

{{#classes.linux}}
By the way, this is a linux machine
{{/classes.linux}}
--------------------------------------------------------------------------------
