--------------------------------------------------------------------------------

This system is intended for lab use only.
Unauthorized access is prohibited.
Violators will by vaporized... seriously.

Phone:          {{#phone}}{{.}} {{/phone}}
Email:          {{{email}}}

{{#classes.linux}}
By the way, this is a linux machine
{{/classes.linux}}
--------------------------------------------------------------------------------
